<div class="root__container">
  <header [ngClass]="{'main__header-dark': darkModeActive}" class="main__header">

    <div class="mode-toggle__container">
      <span class="mode-toggle__text">Light</span>

      <label class="toggle-button__container">
        <input (click)="modeToggleSwitch()" type="checkbox" class="mode-toggle__input"/>
        <span [ngClass]="{'mode-toggle__bg-checked': darkModeActive}" class="mode-toggle__bg"></span>
        <span [ngClass]="{'mode-toggle__circle-checked': darkModeActive}" class="mode-toggle__circle"></span>
      </label>


      <span class="mode-toggle__text">Dark</span>
    </div>
    <h3 class="date__text">
        <div ng-app ng-controller="Ctrl">
            {{date | date:'dd-MM-yyyy'}}
        </div>
    </h3>



  </header>

  <!-- Main Content -->

  <!--<router-outlet></router-outlet>-->
  <main class="main__container">
    <div class="main-container__bg" [ngClass]="{'main-container__bg-dark': darkModeActive}"></div>
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="main__footer">
    <small class="copyright__text"></small>
  </footer>
</div>
